USE [aracSecimi]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 30.06.2022 16:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 30.06.2022 16:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](max) NULL,
	[Sifre] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aracs]    Script Date: 30.06.2022 16:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aracs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FotoUrl] [nvarchar](max) NULL,
	[FotoUrl2] [nvarchar](max) NULL,
	[FotoUrl3] [nvarchar](max) NULL,
	[FotoUrl4] [nvarchar](max) NULL,
	[FotoUrl5] [nvarchar](max) NULL,
	[Fiyat] [int] NOT NULL,
	[Marka] [nvarchar](max) NULL,
	[Seri] [nvarchar](max) NULL,
	[Model] [nvarchar](max) NULL,
	[UretimYili] [int] NOT NULL,
	[Yakit] [nvarchar](max) NULL,
	[Vites] [nvarchar](max) NULL,
	[AracKm] [int] NOT NULL,
	[KasaTipi] [nvarchar](max) NULL,
	[MotorGucu] [nvarchar](max) NULL,
	[MotorHacmi] [nvarchar](max) NULL,
	[Cekis] [nvarchar](max) NULL,
	[Renk] [nvarchar](max) NULL,
	[YakitTuketimi] [nvarchar](max) NULL,
	[SehirIci] [nvarchar](max) NULL,
	[OrtalamaTuketim] [nvarchar](max) NULL,
	[Hizlanma0_100] [nvarchar](max) NULL,
	[AzamiSurat] [nvarchar](max) NULL,
	[MaxTork] [nvarchar](max) NULL,
	[DepoHacmi] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Aracs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AracSorus]    Script Date: 30.06.2022 16:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AracSorus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Soru] [nvarchar](max) NULL,
	[A] [nvarchar](max) NULL,
	[B] [nvarchar](max) NULL,
	[C] [nvarchar](max) NULL,
	[AId] [int] NOT NULL,
	[BId] [int] NOT NULL,
	[CId] [int] NOT NULL,
	[AracId] [int] NOT NULL,
	[D] [nvarchar](max) NULL,
	[DId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AracSorus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hakkimizdas]    Script Date: 30.06.2022 16:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hakkimizdas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FotoUrl] [nvarchar](max) NULL,
	[Baslik] [nvarchar](max) NULL,
	[HakkimizdaYazi] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Hakkimizdas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iletisims]    Script Date: 30.06.2022 16:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iletisims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](max) NULL,
	[Mail] [nvarchar](max) NULL,
	[Konu] [nvarchar](max) NULL,
	[Mesaj] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Iletisims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [KullaniciAdi], [Sifre]) VALUES (1, N'bugra', N'1903')
INSERT [dbo].[Admins] ([Id], [KullaniciAdi], [Sifre]) VALUES (2, N'test', N'1234')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Aracs] ON 

INSERT [dbo].[Aracs] ([Id], [FotoUrl], [FotoUrl2], [FotoUrl3], [FotoUrl4], [FotoUrl5], [Fiyat], [Marka], [Seri], [Model], [UretimYili], [Yakit], [Vites], [AracKm], [KasaTipi], [MotorGucu], [MotorHacmi], [Cekis], [Renk], [YakitTuketimi], [SehirIci], [OrtalamaTuketim], [Hizlanma0_100], [AzamiSurat], [MaxTork], [DepoHacmi]) VALUES (4, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, 0, N'Seçiniz', N'Seçiniz', 0, N'Seçiniz', N'Seçiniz', N'Seçiniz', N'Seçiniz', N'Seçiniz', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Aracs] ([Id], [FotoUrl], [FotoUrl2], [FotoUrl3], [FotoUrl4], [FotoUrl5], [Fiyat], [Marka], [Seri], [Model], [UretimYili], [Yakit], [Vites], [AracKm], [KasaTipi], [MotorGucu], [MotorHacmi], [Cekis], [Renk], [YakitTuketimi], [SehirIci], [OrtalamaTuketim], [Hizlanma0_100], [AzamiSurat], [MaxTork], [DepoHacmi]) VALUES (5, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, 0, N'Seçiniz', N'Seçiniz', 0, N'Seçiniz', N'Seçiniz', N'Seçiniz', N'Seçiniz', N'Seçiniz', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Aracs] OFF
GO
SET IDENTITY_INSERT [dbo].[AracSorus] ON 

INSERT [dbo].[AracSorus] ([Id], [Soru], [A], [B], [C], [AId], [BId], [CId], [AracId], [D], [DId]) VALUES (11, N'Hangi tür araç kullanmayı istersiniz?', N'Otomabil', N'Klasik arazi', N'SUV & Pickup', 12, 21, 29, 0, N'Ticari Araçlar', 40)
INSERT [dbo].[AracSorus] ([Id], [Soru], [A], [B], [C], [AId], [BId], [CId], [AracId], [D], [DId]) VALUES (12, N'Hangi segment araç istersiniz?', N'Ekonomi araç', N'Küçük aile aracı', N'Alt sınıf aile aracı', 13, 13, 13, 0, N'Üst orta sınıf aile aracı', 13)
INSERT [dbo].[AracSorus] ([Id], [Soru], [A], [B], [C], [AId], [BId], [CId], [AracId], [D], [DId]) VALUES (13, N'Fiyat aralığınız nedir?', N'150.000 ₺ - 200.000 ₺', N'200.000 ₺ - 300.000 ₺', N'300.000 ₺ - 500.000 ₺', 14, 14, 14, 0, N'500.000 ₺ - 700.000 ₺', 14)
SET IDENTITY_INSERT [dbo].[AracSorus] OFF
GO
SET IDENTITY_INSERT [dbo].[Hakkimizdas] ON 

INSERT [dbo].[Hakkimizdas] ([Id], [FotoUrl], [Baslik], [HakkimizdaYazi]) VALUES (1, N'https://saygilirulman.com.tr/afis/images/toplant%C4%B13.JPG
', N'Esbuzi Nedir?', N'test')
SET IDENTITY_INSERT [dbo].[Hakkimizdas] OFF
GO
ALTER TABLE [dbo].[AracSorus] ADD  DEFAULT ((0)) FOR [AId]
GO
ALTER TABLE [dbo].[AracSorus] ADD  DEFAULT ((0)) FOR [BId]
GO
ALTER TABLE [dbo].[AracSorus] ADD  DEFAULT ((0)) FOR [CId]
GO
ALTER TABLE [dbo].[AracSorus] ADD  DEFAULT ((0)) FOR [AracId]
GO
ALTER TABLE [dbo].[AracSorus] ADD  DEFAULT ((0)) FOR [DId]
GO
